* {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    scrollbar-width: thin;
}
html {
    position: absolute;
    /* zoom: 0.92; */
}
body {
    max-width: 1700px !important;
    margin: 0 auto !important;
}
html, body, #root {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
.width-max-content {
    width: max-content;
}
.height-max-content {
    height: max-content;
}
button, button.btn, button:focus, .btn:focus {
    outline: none;
    box-shadow: none;
    align-items: center;
}
.btn.close {
    width: 35px;
    height: 35px;
}
/* button *, button.btn * {
    vertical-align: middle;
} */
button:active:not(#skitzs > div > div > .skitz_actions button) {
    box-shadow: inset 0 0 100px 0px #00000030 !important;
    /* border-radius: 50%; */
}
ul {
    text-align: left;
}
input#finder {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #dadada;
    border-radius: 25px;
    outline: none;
}
#banner, .banner {
    background-color:#dadada;
    border-radius: 25px;
}
section {
    overflow-y: auto;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.object-fit-cover {
    object-fit: cover;
}
.object-fit-contain {
    object-fit: contain;
}
.object-position-left {
    object-position: left;
}
.object-position-right {
    object-position: right;
}
.object-position-center {
    object-position: center;
}
.left {
    left: 0;
}
.right {
    right: 0;
}
.top {
    top: 0;
}
.bottom {
    bottom: 0;
}
.bg-white {
    background-color: #ffffff;
}
.z-index-1 {
    z-index: 1;
}
.z-index-2 {
    z-index: 2;
}
.z-index-3 {
    z-index: 3;
}
.z-index-4 {
    z-index: 4;
}
.z-index-5 {
    z-index: 5;
}
.z-index-6 {
    z-index: 6;
}
.z-index-7 {
    z-index: 7;
}
.z-index-8 {
    z-index: 8;
}
.z-index-9 {
    z-index: 9;
}
.z-index-10 {
    z-index: 10;
}
.dark-layer-light {
    background-color: #0000000a;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.text-silver {
    color: #ededed;
}
.text-theme {
    color: #ff77a3 !important;
}
.text-theme-dark {
    color: #ff0f5b !important;
}
.bg-theme {
    background: #ff0f5b !important;
}
.bg-theme:hover {
    background: #d20b4a !important;
}
.overflow-hide {
    overflow: hidden;
}
.overflow-y-hide {
    overflow-y: hidden;
}
.overflow-x-hide {
    overflow-x: hidden;
}
.overflow-y-auto {
    overflow-y: auto;
}
.overflow-x-auto {
    overflow-x: auto;
}
.fixed {
    position: fixed;
}
.overlayer {
    background: #0000007d;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.bg-smoke {
    background: #dadada;
}
.bg-smoke:hover {
    background: #bbbbbb;
}
#overlayer {
    display: none;
}
.vertical-align-middle {
    vertical-align: middle;
    align-items: center;
}
.vertical-align-top {
    vertical-align: top;
}
.vertical-align-bottom {
    vertical-align: bottom;
}
.no-wrap {
    white-space: nowrap;
}